<template>
  <div class="container mt-3">
    <div class="row">
      <div class="col-8 p-0">
        <img
          class="img-fluid"
          :src="require('@/assets/img/aviao.jpg')"
          alt="aviao"
        />
      </div>
      <div class="col-4 p-0 shadow bg_login">
        <div class="bg_logo text-center">
          <img
            class="img-fluid w-75"
            :src="require('@/assets/img/logo.png')"
            alt="voare turistmo"
          />
        </div>
        <div class="p-3">
          <div class="bemvindo">Seja bem-vindo!</div>
          <div class="">Identifique-se abaixo para acessar o sistema:</div>
          <div class="mt-4 input-group mb-3">
            <input
              type="text"
              class="form-control forms"
              placeholder="Usuário"
              v-model="usuario.login"
            />
            <span class="input-group-text forms"
              ><i class="fas fa-user"></i
            ></span>
          </div>

          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control forms"
              placeholder="Senha"
              v-model="usuario.senha"
            />
            <span class="forms input-group-text"
              ><i class="fas fa-lock"></i
            ></span>
          </div>
          <div class="text-center mt-5">
            <button type="button" @click="login()" class="botao shadow btn btn-lg btn-warning">
              Entrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      usuario: {
        login: '',
        senha: ''
      }
    }
  },
  methods: {
    login () {
      if (this.usuario.login && this.usuario.senha) {
        this.$router.push('viagens')
      }
    }
  }
}
</script>
<style scoped>
.bg_logo {
  background: #ffce93;
}
.bg_login {
  background: #ffc885;
}
.bemvindo {
  font-family: "Alex Brush", cursive;
  font-size: 3rem;
}
.botao {
  background: #fa8900;
  color: white;
  width: 170px;
}
.forms {
  border: none;
  height: 50px;
  background: #ffdbb3;
  text-align: center;
  font-size: 25px;
  color: #949292;
}
</style>
