<template>
  <div class="container mt-3">
    <div class="row bg_logo">
      <div class="col-1 mt-1 text-center align-middle">
        <button @click="this.showmenu = !this.showmenu" class="btn">
          <i class="fas fa-bars fa-3x"></i>
        </button>
      </div>
      <div class="col-11">
        <img
          class="img-fluid logo"
          :src="require('@/assets/img/logo.png')"
          alt="voare turistmo"
        />
      </div>
    </div>
    <div class="row" style="height: 70vh">
      <div v-if="showmenu" class="col-1 p-4 bg_menu">
        <div class="row mb-4 text-center">
          <i class="fas fa-globe-europe fa-2x"></i><span>Viagens</span>
        </div>
        <div class="row text-center">
          <i class="far fa-credit-card fa-2x"></i><span>Cartões</span>
        </div>
        <div class="row sair text-center">
          <button @click="sair()" class="btn">
            <i class="fas fa-door-open fa-2x"></i><span>Sair</span>
          </button>
        </div>
      </div>

      <div :class="coluna">
        <div class="row bg_viagens">
          <span class="font_viagens">Viagens</span>
          <div>Cadastre os locais que deseja conhecer</div>
        </div>
        <div class="row mt-5">
          <div class="col-5">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control forms"
                placeholder="Nome do Local"
                v-model="viagem.nome"
              />
              <span class="forms input-group-text"
                ><i class="fas aviao fa-plane"></i
              ></span>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control forms"
                placeholder="Estado / País"
                v-model="viagem.local"
              />
              <span class="forms input-group-text"
                ><i class="fas fa-map-marker-alt"></i
              ></span>
            </div>
            <div class="input-group mb-3">
              <input
                type="month"
                class="form-control forms"
                placeholder="Previsão da Viagem"
                v-model="viagem.data"
              />
            </div>
            <div class="row align-items-end botoes text-center mt-5">
              <div class="col-6">
                <button
                  type="button"
                  @click="limpa()"
                  class="botao shadow btn btn-lg btn-warning"
                >
                  Limpar
                </button>
              </div>
              <div class="col-6">
                <button
                  type="button"
                  @click="adiciona()"
                  class="botao shadow btn btn-lg btn-warning"
                >
                  Adicionar
                </button>
              </div>
            </div>
          </div>
          <div class="col-7">
            <table class="table">
              <thead class="topo-tabela">
                <tr>
                  <th scope="col">Nome do Local</th>
                  <th scope="col">Estado/País</th>
                  <th scope="col">Previsões</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="lista in lista_viagem" :key="lista">
                  <th>{{ lista.nome }}</th>
                  <td>{{ lista.local }}</td>
                  <td>{{ formata(lista.data) }}</td>
                  <td>
                    <button class="btn"><i class="far fa-edit"></i></button>
                    <button class="btn">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showmenu: false,
      viagem: {},
      lista_viagem: []
    }
  },
  computed: {
    coluna () {
      if (!this.showmenu) {
        return 'col-12'
      } else {
        return 'col-11'
      }
    }
  },
  methods: {
    sair () {
      this.$router.push('/')
    },
    adiciona () {
      if (this.viagem.nome && this.viagem.local && this.viagem.data) {
        this.lista_viagem.push(this.viagem)
        this.viagem = {}
      }
    },
    limpa () {
      this.viagem = {}
    },
    formata (data) {
      const mes = data.slice(5)
      const ano = data.slice(0, 4)
      let nome = ''
      switch (mes) {
        case '01':
          nome = 'Janeiro'
          break
        case '02':
          nome = 'Fevereiro'
          break
        case '03':
          nome = 'Março'
          break
        case '04':
          nome = 'Abril'
          break
        case '05':
          nome = 'Maio'
          break
        case '06':
          nome = 'Junho'
          break
        case '07':
          nome = 'Julho'
          break
        case '08':
          nome = 'Agosto'
          break
        case '09':
          nome = 'Setembro'
          break
        case '10':
          nome = 'Outubro'
          break
        case '11':
          nome = 'Novembro'
          break
        case '12':
          nome = 'Dezembro'
          break
      }

      return nome + '/' + ano
    }
  }
}
</script>
<style scoped>
.bg_viagens {
  background: #ffefdd;
}
.topo-tabela {
  background: #ffb661;
}
.font_viagens {
  font-family: "Alex Brush", cursive;
  font-size: 3rem;
}
.sair {
  margin-top: 560%;
}
.logo {
  width: 10rem;
}
.bg_logo {
  background: #ffce93;
}
.bg_menu {
  background: #ffe7cd;
}
.bemvindo {
  font-family: "Alex Brush", cursive;
  font-size: 3rem;
}
.botao {
  background: #fa8900;
  color: white;
  width: 170px;
}
.aviao {
  transform: rotate(-45deg);
}
.forms {
  border: none;
  height: 50px;
  background: #ffdbb3;
  text-align: center;
  font-size: 25px;
  color: #949292;
}
.botoes {
  height: 100px;
}
</style>
